.people-left-container {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 15%;
  padding-top: 3%;
  padding-bottom: 3%;
  align-items: center;
}

.people-left-name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: xx-large;
}

.people-left-description {
  text-align: justify;
  text-align-last: left;
  width: 60%;
}

.people-left-image {
  height: 250px;
  width: 150px;
  object-fit: contain;
  padding-inline-end: 5%;
}

.people-right-container {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 15%;
  padding-right: 10%;
  align-items: center;
}

.people-right-text-container {
  display: flex;
  flex-direction: column;
}

.people-right-name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: xx-large;
  text-align: right;
}

.people-right-description {
  text-align: justify;
  text-align-last: right;
  width: 60%;
  align-self: flex-end;
}

.people-right-image {
  height: 250px;
  width: 150px;
  object-fit: contain;
  padding-inline-start: 5%;
}

.people-loading-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.top-person-wrap {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-person-text {
  width: 50%;
  text-align: left;
}

.top-person-subtext {
  font-style: italic;
  margin-top: 0;
  color: gray;
}

.about-us-card-left-container {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
}

.about-us-title {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  color: white;
}

.about-us-image {
  width: 50%;
  height: 500px;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.about-us-inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.about-us-logo {
  height: 150px;
  width: 150px;
  margin: 30px;
  margin-left: 0;
  border-radius: 20px;
}

.about-us-text {
  text-align: justify;
  margin-right: 3%;
}

.grid-container {
  align-items: center;
  justify-content: center;
}

.grid-person-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  padding: 20px;
}

.grid-person-image {
  width: 200px;
  height: 320px;
  object-fit: cover;
}

.grid-person-title {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0px;
}

.grid-person-subtitle {
  font-style: italic;
  color: gray;
  margin-top: 0px;
}