.news-container {
  display: flex;
  flex-direction: row;
  overflow-y: auto;

  height: 400px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: fit-content;
}

.news {
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-photo {
  width: 350px;
  height: 150px;
  object-fit: cover;
}

.news-title {
  margin: 10px;
  font-weight: bold;
  font-size: larger;
}

.news-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin: 10px;
  margin-top: 0;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.news-date {
  margin: 20px;
  margin-top: 0;
  text-align: right;
}

.sponsors-container {
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
}

.single-sponsor-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.sponsors-header {
  width: 100%;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}

.sponsor-image {
  height: 250px;
  object-fit: contain;
}

.sponsor-title {
  text-align: center;
  font-size: large;
  margin-bottom: 0;
}

.sponsor-subtitle {
  text-align: center;
  font-weight: lighter;
  margin-top: 0;
}

.main-about-wrapper {
  display: flex;
  flex-direction: row;
  padding: 50px;
  justify-content: space-between;
}

.main-about-card {
  width: 47%;
  padding: 20px;
  margin: 20px;
}

.main-about-card-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main-about-card-title {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

.main-about-card-content {
  text-align: justify;
}

.main-about-card-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 1000px) {
  .main-about-wrapper {
    flex-direction: column;
    padding-top: 30px;
  }

  .main-about-card {
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .news-container {
    padding-left: 0px;
  }

  .main-about-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-about-card {
    margin-left: 0px;
    margin-right: 0px;
  }
}
