.people-left-container {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 15%;
  padding-top: 3vh;
  padding-bottom: 3vh;
  align-items: center;
}

.people-left-name {
  margin-top: 0px;
  font-weight: bold;
  font-size: xx-large;
}

.people-left-description {
  text-align: left;
}

.people-left-image {
  height: 25vh;
  object-fit: contain;
  padding-inline-end: 5%;
}

.people-right-container {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 15%;
  padding-right: 10%;
  align-items: center;
}

.people-right-name {
  margin-top: 0px;
  font-weight: bold;
  font-size: xx-large;
  text-align: right;
}

.people-right-description {
  text-align: right;
}

.people-right-image {
  height: 25vh;
  object-fit: contain;
  padding-inline-start: 5%;
}

.people-loading-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}