.people-left-container {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 15%;
  padding-top: 3vh;
  padding-bottom: 3vh;
  align-self: center;
}

.people-left-name {
  font-weight: bold;
  font-size: xx-large;
}

.people-left-description {
  text-align: left;
}

/* TODO: vh is not very good */
.people-left-image {
  width: 20vh;
  object-fit: contain;
  padding-inline-end: 5vh;
}

.people-right-container {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 15%;
  padding-right: 10%;
}

.people-right-name {
  font-weight: bold;
  font-size: xx-large;
  text-align: right;
}

.people-right-description {
  text-align: right;
}

.people-right-image {
  width: 18vh;
  object-fit: contain;
  padding-inline-start: 5vh;
}