.people-left-container {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 15%;
  padding-top: 3vh;
  padding-bottom: 3vh;
  align-items: center;
}

.people-left-name {
  margin-top: 0px;
  font-weight: bold;
  font-size: xx-large;
}

.people-left-description {
  text-align: justify;
  text-align-last: left;
  width: 70%;
}

.people-left-image {
  height: 25vh;
  object-fit: contain;
  padding-inline-end: 5%;
}

.people-right-container {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 15%;
  padding-right: 10%;
  align-items: center;
}

.people-right-text-container {
  display: flex;
  flex-direction: column;
}

.people-right-name {
  margin-top: 0px;
  font-weight: bold;
  font-size: xx-large;
  text-align: right;
}

.people-right-description {
  text-align: justify;
  text-align-last: right;
  width: 70%;
  align-self: flex-end;
}

.people-right-image {
  height: 25vh;
  object-fit: contain;
  padding-inline-start: 5%;
}

.people-loading-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.top-person-wrap {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-person-text {
  width: 50%;
  text-align: left;
}

.top-person-subtext {
  font-style: italic;
  margin-top: 0;
  color: gray;
}