.sunshine-main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.sunshine-text-primary {
  font-size: 8em;
  color: black;
  font-weight: lighter;
  margin-bottom: 0;
}

.sunshine-text-secondary {
  font-size: 1em;
  color: black;
  margin-top: 0;
}

.ronia-image {
  margin: 20px;
  width: 250px;
  border-radius: 20px;
}

.image-sub {
  margin-top: 0;
  margin-bottom: 0;
}

.ronia-text-center {
  text-align: center;
}

.splitter {
  display: flex;
  flex-direction: row;
}

.ronia-div-split {
  width: 50%;
  margin: 20px;
  text-align: justify;
}

@media screen and (max-width: 800px) {
  .splitter {
    flex-direction: column;
  }

  .ronia-div-split {
    width: auto;
  }
}

.ronia-div-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ronia-section-header {
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 0;
}

.screen-image {
  width: 70%;
}

.screen-image-subtext {
  margin-bottom: 30px;
  font-style: italic;
  text-align: center;
}

.corner-text {
  position: absolute;
  right: 10px;
  font-style: italic;
}

.peek-image {
  height: 300px;
  border-radius: 10px;
}

.peek-text {
  writing-mode: vertical-lr;
  text-align: center;
  font-style: italic;
  margin-left: 0;
  transform: rotate(180deg);
}

.peek-container {
  display: flex;
  flex-direction: row;

  position: absolute;
  left: 0;
  top: 130px;
  z-index: -1;
  transform: translateX(-55%) rotate(30deg);
}
