.people-container {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
  align-items: center;
}

.experts-container {
  background-repeat: repeat-y;
  background-size: cover;
}

.people-name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: xx-large;
  padding-left: 40px;
}

.people-description {
  text-align: justify;
  text-align-last: left;
  padding-left: 40px;
  font-weight: lighter;
}

.top-person-subtext {
  margin-top: 0;
  font-style: italic;
  margin-top: 0;
  color: gray;
}

.top-person-image {
  margin-top: 20px;
}

.people-image {
  height: 400px;
  width: 275px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #000000;
}

@media screen and (max-width: 1500px) {
  .people-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 1100px) {
  .people-container {
    flex-direction: column;
  }

  .people-name {
    text-align: center;
    margin-top: 10px;
    padding-left: 0px;
  }

  .people-description {
    padding-left: 0px;
  }

  .top-person-description {
    padding-top: 0;
    margin-top: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .top-person-text {
    margin-top: 0;
    text-align-last: center;
  }
}

@media screen and (max-width: 500px) {
  .people-description {
    display: none;
  }

  .top-person-description {
    display: flex;
  }

  .people-name {
    font-weight: lighter;
    padding-bottom: 40px;
  }

  .top-person-name {
    padding-bottom: 0;
  }
}

.people-loading-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.about-us-card {
  display: flex;
  flex-direction: row;
  margin: 2%;
}

.about-us-card-left-container {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
}

.about-us-title {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  color: white;
}

.about-us-image {
  width: 50%;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.about-us-inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

@media screen and (max-width: 1300px) {
  .about-us-inner-container {
    flex-direction: column-reverse;
  }
}

.about-us-logo {
  height: 150px;
  width: 150px;
  margin: 30px;
  border-radius: 20px;
}

.about-us-text {
  text-align: justify;
  margin-right: 3%;
}

@media screen and (max-width: 900px) {
  .about-us-card {
    flex-direction: column-reverse;
  }

  .about-us-image {
    height: 300px;
    width: auto;
  }

  .about-us-card-left-container {
    width: auto;
  }

  .about-us-image {
    margin-bottom: 0px;
  }
}

.grid-container {
  align-items: center;
  justify-content: center;
  background-repeat: repeat-y;
  background-size: cover;
}

.grid-person-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 450px;
  padding: 20px;
}

.grid-person-image {
  width: 200px;
  height: 320px;
  object-fit: cover;
  border: 1px solid #000000;
  border-radius: 10px;
}

.grid-person-title {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0px;
  text-align: center;
}

.grid-person-subtitle {
  font-style: italic;
  color: gray;
  margin-top: 0px;
  text-align: center;
}

.top-person-speech {
  font-weight: bold;
  margin-bottom: 0;
}

.available-soon-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.available-soon-logo {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.available-soon-text {
  font-size: x-large;
  font-weight: lighter;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}
