.footer-container {
  margin: 16px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.footer-top {
  align-self: flex-start;
  margin-bottom: 30px;
}

@media screen and (max-width: 900px) {
  .footer-top {
    align-self: center;
  }
}

.conference-title {
  font-size: 2.5em;
  font-weight: 300;
  margin: 0;
}

.conference-subtitle {
  position: relative;
  margin: 0;
  font-family: 'Moontime';
  font-size: 2.5em;
  top: 0;
}

@media screen and (max-width: 480px) {
  .conference-title {
    font-size: 1.5em;
  }

  .conference-subtitle {
    font-size: 1.5em;
  }
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-bottom-left {
  display: flex;
  flex-direction: row;
}

.footer-contact {
  text-align: left;
  padding-right: 30px;
  padding-bottom: 15px;
}

@media screen and (max-width: 580px) {
  .footer-bottom-left {
    flex-direction: column-reverse;
  }

  .footer-contact {
    padding-right: 0px;
  }
}

.footer-bottom-right {
  align-self: flex-end;
}

.copyright-text {
  color: lightgrey;
  margin: 0;
}

.contact-title {
  font-weight: bold;
  margin: 0;
}

.social-container {
  padding-top: 15px;
}

.contact {
  margin: 0;
}

a:link {
  color:#FFFFFF;
}

a:visited {
  color:#FFFFFF;
}

a:hover {
  color:#FFFFFF;
}