.appbar-name {
  text-align: center;
  font-family: 'Open Sans';
  font-size: 28px;
  font-weight: 300;
}

.appbar-left {
  display: flex;
  align-items: center;
  height: '100%';
}

.appbar-right {
  height: '100%';
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.appbar-right-top {
  height: '50%';
}

.appbar-right-bottom {
  height: '50%';
}