.appbar-name {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
}

.appbar-logo {
  height: 90%;
  object-fit: cover;
  padding-right: 10px;
}

.appbar {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 64px;
}

.appbar-left {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.appbar-middle {
  height: 100%;
  display: flex;
}

.appbar-right {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.appbar-right-top-icon {
  cursor: pointer;
  vertical-align: middle;
  height: 50px;
  padding-left: 20px;
}

.appbar-right-top-svg {
  cursor: pointer;
  vertical-align: middle;
  padding-right: 20px;
  filter: invert(96%) sepia(100%) saturate(12%) hue-rotate(237deg) brightness(103%) contrast(103%);
}
