.svg-white {
  cursor: pointer;
  vertical-align: middle;
  padding-right: 20px;
  filter: invert(96%) sepia(100%) saturate(12%) hue-rotate(237deg) brightness(103%) contrast(103%);
}

.svg-default {
  cursor: pointer;
  vertical-align: middle;
  padding-right: 20px;
}