@font-face {
  font-family: 'Moontime';
  src: local('Moontime'),
    url('./fonts/Moontime/MoonTime-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  src: url('./fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  src: url('./fonts/OpenSans/OpenSans-Italic-VariableFont_wdth\,wght.ttf')
    format('truetype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans';
}

p {
  font-family: 'Open Sans';
}

footer {
  background-color: #c53d63;
  width: 100%;
  height: fit-content;
  text-align: center;
  color: white;
}
