@import url('https://fonts.googleapis.com/css2?family=Open Sans');

@font-face {
  font-family: 'Moontime';
  src: local('Moontime'), url('./fonts/MoonTime-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans';
}

footer {
  background-color: #c53d63;
  width: 100%;
  height: 60px;
  text-align: center;
  color: white;
}